<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
<center>
    <h1>My Blog</h1>
</center>
<a href="/create-my-blog">Create new Post</a>
<a href="/category"> Category list </a>
<table id="myBlog">
    <tr>
        <th>ID</th>
        <th>Name Post</th>
        <th>Writer</th>
        <th>Category</th>
        <th>Content</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    <th:block th:each="blog : ${myBlog}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td>
                <a th:href="@{/view-my-blog/__${blog.id}__ }"><span th:text="${blog.namePosts}"></span></a>
            </td>
            <td th:text="${blog.writer}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.date}"></td>
            <td>
                <a th:href="@{/edit-my-blog/__${blog.id}__ }">Edit</a>
                <a th:href="@{/delete-my-blog/__${blog.id}__ }">Delete</a>
            </td>
        </tr>
    </th:block>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>