<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" href="css/touch.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <section class="get-in-touch">
        <h1 class="title">ADD NEW EMPLOYEE</h1>
        <form class="contact-form row" th:action="@{/create-employee}" th:object="${employee}" method="post">
            <div class="form-field col-lg-6">
                <input class="input-text js-input" type="text" th:field="*{name}" required>
                <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <label class="label">Name</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input class="input-text js-input" type="date" th:field="*{birthday}" required>
                <p style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
                <label class="label">DAY OF BIRTH</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input class="input-text js-input" type="text" th:field="*{idCard}" required>
                <label class="label">ID CARD</label>
                <span style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></span>
            </div>
            <div class="form-field col-lg-6 ">
                <input class="input-text js-input" type="text" th:field="*{salary}" required>
                <p style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>
                <label class="label">SALARY</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input class="input-text js-input" type="email" th:field="*{email}" required>
                <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                <label class="label">E-MAIL</label>
            </div>
            <div class="form-field col-lg-6">
                <input class="input-text js-input" type="text" th:field="*{address}" required>
                <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                <label class="label">ADDRESS</label>
            </div>
            <div class="form-field col-lg-4">
                <select th:field="*{position}" id="position" class="input-text js-input" required>
                    <option th:each="p : ${position}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
                <label class="label" for="position">POSITION</label>
            </div>
            <div class="form-field col-lg-4">
                <select th:field="*{division}" id="division" class="input-text js-input" required>
                    <option th:each="p : ${division}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
                <label class="label" for="division">DIVISION</label>
            </div>
            <div class="form-field col-lg-4">
                <select th:field="*{educationDegree}" id="educationDegree" class="input-text js-input" required>
                    <option th:each="p : ${education}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
                <label class="label" for="educationDegree">EDUCATION DEGREE</label>
            </div>
            <div class="form-field col-lg-6">
                <center>
                    <input class="submit-btn" type="submit" value="SUBMIT">
                </center>
            </div>
            <div class="form-field col-lg-6">
                <center>
                    <a style="text-decoration: none" class="submit-btn" href="/employee">
                        <center>
                            CANCEL
                        </center>
                    </a>
                </center>
            </div>
        </form>
    </section>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>