<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="/layout :: head">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
<center>
    <h1>Furama Resort</h1>
</center>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/employee" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Employee
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/employee">Employee</a>
                    <a class="dropdown-item" href="/division">Division</a>
                    <a class="dropdown-item" href="/position">Position</a>
                    <a class="dropdown-item" href="/education">Education Degree</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name Position</th>
    </tr>
    </thead>

    <th:block th:each="positions : ${position}">
        <tr>
            <td th:text="${positions.id}"></td>
            <td th:text="${positions.name}"></td>
        </tr>
    </th:block>
</table>

<th:block th:replace="/layout:: #scriptBlock"></th:block>
</body>
</html>