<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p>
    <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name Customer:</td>
            <td><input type="text" th:field="*{fullName}"/></td>
        </tr>
        <tr>
            <td>Day of birth :</td>
            <td><input type="date" th:field="*{birthDay}"/></td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td>
                <select th:field="*{gender}">
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="province">
                    <option th:each="p : ${provinces}"
                            th:value="${p.idProvince}"
                            th:text="${p.nameProvince}"
                            th:selected="(${p.idProvince} == *{province.idProvince})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>