<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="/layout :: head">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
<center>
    <h1>Furama Resort</h1>
    <th:block th:if="${message}">
        <p th:text="${message}" style="color: green"></p>
    </th:block>
</center>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/contract" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contract
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/contract">Contract</a>
                    <a class="dropdown-item" href="/contract-detail">Contract Detail</a>
                    <a class="dropdown-item" href="/attach-service">Attach Service</a>
                </div>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/contract/create-detail">Add Contract Detail</a>
            </li>
        </ul>
    </div>
</nav>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Contract</th>
        <th scope="col">Employee</th>
        <th scope="col">Customer</th>
        <th scope="col">Service</th>
        <th scope="col">Attach Service</th>
        <th scope="col">Quantity</th>
    </tr>
    </thead>

    <th:block th:each="ct : ${contractDetail}">
        <tr>
            <td th:text="${ct.id}"></td>
            <td th:text="${ct.contract.id}"></td>
            <td th:value="${ct.contract.id}" th:text="${ct.contract.employee.name}"></td>
            <td th:value="${ct.contract.id}" th:text="${ct.contract.customer.name}"></td>
            <td th:value="${ct.contract.id}" th:text="${ct.contract.service.name}"></td>
            <td th:text="${ct.attachService.name}"></td>
            <td th:text="${ct.quantity}"></td>
        </tr>
    </th:block>
</table>

<th:block th:replace="/layout:: #scriptBlock"></th:block>
</body>
</html>